# roles/common/tasks/main.yml
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install base packages
  apt:
    name:
      - wget
      - curl
      - git
      - build-essential
      - zip
      - unzip
      - ca-certificates
    state: present
