---
- name: Install PostgreSQL packages
  apt:
    name:
      - postgresql
      - postgresql-contrib
      - libpostgresql-jdbc-java
    state: present

- name: Ensure PostgreSQL is running
  systemd:
    name: postgresql
    state: started
    enabled: true

- name: Configure PostgreSQL to listen on localhost
  lineinfile:
    path: "/etc/postgresql/{{ postgres_version }}/main/postgresql.conf"
    regexp: "^#?listen_addresses"
    line: "listen_addresses = 'localhost'"
  notify: Restart PostgreSQL

- name: Configure pg_hba for DSpace
  lineinfile:
    path: "/etc/postgresql/{{ postgres_version }}/main/pg_hba.conf"
    line: "host {{ dspace_db_name }} {{ dspace_db_user }} 127.0.0.1/32 md5"
    insertafter: EOF
  notify: Reload PostgreSQL

- name: Create DSpace database user
  become_user: postgres
  postgresql_user:
    name: "{{ dspace_db_user }}"
    password: "{{ dspace_db_password }}"
    state: present

- name: Create DSpace database
  become_user: postgres
  postgresql_db:
    name: "{{ dspace_db_name }}"
    owner: "{{ dspace_db_user }}"
    encoding: UTF8
    template: template0
    state: present
